@page
@using Centras.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model Centras.Pages.ConfirmReservationModel
@{
    <h2>Confirm Reservation</h2>
    <form id="reservationForm" method="post">
        <!-- Hidden fields for reservation details -->
        <input type="hidden" asp-for="Reservation.RoomId" />
        <input type="hidden" asp-for="Reservation.CheckIn" />
        <input type="hidden" asp-for="Reservation.CheckOut" />
        <input type="hidden" asp-for="Reservation.AdultsNum" />
        <input type="hidden" asp-for="Reservation.KidsNum" />
        <input type="hidden" asp-for="Reservation.TotalPrice" />

        <!-- Display reservation details -->
        <div class="form-group">
            <label>@Res.Room:</label>
            <p>@Model.Reservation.Room.Name</p>
        </div>
        <div class="form-group">
            <label>@Res.Checkin:</label>
            <p>@Model.Reservation.CheckIn.ToShortDateString()</p>
        </div>
        <div class="form-group">
            <label>@Res.Checkout:</label>
            <p>@Model.Reservation.CheckOut.ToShortDateString()</p>
        </div>
        <div class="form-group">
            <label>@Res.Adults:</label>
            <p>@Model.Reservation.AdultsNum</p>
        </div>
        <div class="form-group">
            <label>@Res.Children:</label>
            <p>@Model.Reservation.KidsNum</p>
        </div>
        <div class="form-group">
            <label>@Res.Price:</label>
            @{
                var totalDays = (Model.Reservation.CheckOut - Model.Reservation.CheckIn).Days;
                var price = totalDays * Model.Reservation.TotalPrice;
            }
            <p> @price.ToString("0.00")</p>
        </div>

        <!-- User details form -->
        <div class="form-row d-flex gap-3">
            <div class="form-group col-md-6">
                <label for="inputName">@Res.RegName <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputName" placeholder="@Res.RegName" asp-for="Reservation.Name" required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="inputLastname">@Res.RegLastname<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="inputLastname" placeholder="@Res.RegLastname" asp-for="Reservation.LastName" required>
            </div>
        </div>
        <div class="form-row d-flex gap-3">
            <div class="form-group col-md-6 mb-3">
                <label for="inputEmail4">@Res.Email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="@Res.Email" asp-for="Reservation.Email" required>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="inputPhone">@Res.Phone<span class="text-danger">*</span></label>
                <input asp-for="Reservation.Phone"
                       type="tel"
                       class="form-control"
                       id="inputPhone"
                       placeholder="+370 123 4567"
                       required>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="inputAddress">@Res.Address<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Kauno g. 8" asp-for="Reservation.Address" required>
        </div>
        <div class="form-row d-flex gap-3">
            <div class="form-group col-md-6">
                <label for="inputCity">@Res.Town</label>
                <input type="text" class="form-control" id="inputCity" asp-for="Reservation.City">
            </div>
            <div class="form-group col-md-2 mb-3">
                <label for="inputZip">@Res.Postal</label>
                <input type="text" class="form-control" id="inputZip" asp-for="Reservation.Zip">
            </div>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="inputState">@Res.Country</label>
            <select id="inputState" class="form-control" asp-for="Reservation.Country">
                <option selected>Choose...</option>
            </select>
        </div>
        <input type="hidden" asp-for="Reservation.TotalPrice" />
        <button type="submit" class="btn btn-primary">@Res.ConfirmReservation</button>
    </form>
}
<script src="~/js/confirmReservation.js" asp-append-version="true"></script>