@page
@using Centras.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model Centras.Pages.RestaurantModel
@{
    ViewData["Title"] = "Restaurant";
}
<h1 style="text-align:center;">@Res.Content:</h1>
<div class="menu-content">
    <ul>
        <li><a href="#main-menu">@Res.MainMenu</a></li>
        <li><a href="#pizza-menu">@Res.PizzaMenu</a></li>
        <li><a href="#drinks-menu">@Res.DrinkMenu</a></li>
        <li><a href="#alcohol-drinks-menu">@Res.AlcoholDrinksMenu</a></li>
    </ul>
</div>
<hr />
<h1 id="main-menu" style="text-align:center;">@Res.MainMenu</h1>
<hr />
<img src="/Images/Meniu/MainMenu.jpg" alt="Menu 1" class="menu-img">
<img src="/Images/Meniu/MainMenu1.jpg" alt="Menu 2" class="menu-img">
<img src="/Images/Meniu/MainMenu2.jpg" alt="Menu 3" class="menu-img">
<img src="/Images/Meniu/MainMenu3.jpg" alt="Menu 4" class="menu-img">
<img src="/Images/Meniu/MainMenu4.jpg" alt="Menu 5" class="menu-img">
<img src="/Images/Meniu/MainMenu5.jpg" alt="Menu 6" class="menu-img">

<hr />
<h1 id="pizza-menu"style="text-align:center;">@Res.PizzaMenu</h1>
<hr />
<img src="/Images/Meniu/PICU_00001.jpg" alt="Pizza 1" class="menu-img">
<img src="/Images/Meniu/PICU_00002.jpg" alt="Pizza 2" class="menu-img">

<hr />
<h1 id="drinks-menu" style="text-align:center;">@Res.DrinkMenu</h1>
<hr />
<img src="/Images/Meniu/Drinks1.jpg" alt="Drink 1" class="menu-img">
<img src="/Images/Meniu/Drinks2.jpg" alt="Drink 2" class="menu-img">
<img src="/Images/Meniu/Drinks3.jpg" alt="Drink 3" class="menu-img">
<hr />

<h1 id="alcohol-drinks-menu" style="text-align:center;">@Res.AlcoholDrinksMenu</h1>
<hr />
<img src="/Images/Meniu/AlchDrinks.jpg" alt="Alcohol Drinks 1" class="menu-img">
<img src="/Images/Meniu/AlchDrinks1.jpg" alt="Alcohol Drinks 2" class="menu-img">
<img src="/Images/Meniu/AlchDrinks2.jpg" alt="Alcohol Drinks 3" class="menu-img">

<hr />